*{
  margin: 0; padding: 0;
}
header {
  border:1px;
  background: whitesmoke;
  border-color: #ddd;
}
body {
  font-family: helvetica
  color: #333;
  font-size: 16px;
  line-height: 1.6;
}
ul {  
  padding: 20px;
  margin: 50px;
  display: inline-block;
  list-style: none;
  background: #ddd;
  text-align: center;
}
img {
  width: 100px;
}